<nav id="navbar">
    <a href="/"><img src="/askpanda.jpg" alt="ASK PANDA" id="imgLogo"></a>

    <% if (user) { %>
        
    <div id="nav-controls-div">        
        <a href=# class="dark-icon" id="searchBtn"><i class="fas fa-search fa-2x"></i></a>        
        <a href="/createPost" class="dark-icon"><i class="fas fa-plus-square fa-2x"></i></a>
        <a href="/logout" class="dark-icon"><i class="fas fa-power-off fa-2x"></i></a>
        <a href="/profile/<%= user.uname %>"><img class="imgGravatar" src="<%= user.gravatar %>" alt=""></a>
    </div>        

    <% } else { %>

    <form action="/login" method="POST" id="frmLogin" class="horizontal-centered-flex">
        <input type="text" maxlength="10" id="edtloginname" name="uname" autocomplete="off" placeholder="username" />
        <input type="password" maxlength="15" id="edtloginpswd" name="pswd" autocomplete="off" placeholder="password" />
        <button id="btnLogin" type="submit">LOGIN</button>
    </form>

    <% } %>
</nav>
