<!DOCTYPE html>
<html>
    <head>
        <title>Ask Panda - Home</title>
        <link rel="stylesheet" href="feed.css">
    </head>
    <body>
        <%- include('includes/header') %>
        <div id="main">
            Welcome <%= user.uname %>
        </div>
    </body>
</html>