<!DOCTYPE html>
<html>
    <head>
        <title>Ask Panda - <%= user.uname %> NewPost
        </title>
        <link rel="stylesheet" href="header.css">
        <link rel="stylesheet" href="feed.css">
    </head>
    <body>
        <%- include('includes/header') %>
        <div id="main">
            <form id="frmCreatePost" action="/newPost" method="POST">
                <input type="text" name="title" id="edtTitle" placeholder="Enter a title" autocomplete="false" maxlength="60">
                <textarea name="content" id="edtContent" form="frmCreatePost"></textarea>
                <button type="submit" id="btnSubmit">Add</button>
            </form>
        </div>
    </body>
</html>