<!DOCTYPE html>
<html>
    <head>
        <title>Ask Panda - <%= post.title %></title>
        <link rel="stylesheet" href="/header.css">
        <link rel="stylesheet" href="/viewpost.css">
    </head>
    <body>
        <%- include('includes/header') %>
        <div id="main" class="vertical-centered-flex">
            <h1><%= post.title %></h1>
            <p><%= post.content %></p>
        </div>
    </body>
</html>