@font-face {
    font-family: 'aleo';
    src: url('aleo-light-webfont.ttf') format('truetype');
}

@font-face {
    font-family: 'Nexa-Light';
    src: url('Nexa-light.otf') format('opentype')
}

:root {
    --navbar-color: #eeeeee;
    --home-color: linear-gradient(90deg, #000000, #eeeeee);
    --navbar-height: 60px;
    --form-field-height: 1.75em;
    --form-font-size: 1.1em;
}

.horizontal-centered-flex {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.vertical-centered-flex {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

body {
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;    
    font-family: 'aleo';
}

nav {
    width: 100vw;
    height: var(--navbar-height, 50px);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background: var(--navbar-color, #eeeeee);
}

#main {
    background: var(--home-color, #000000);
    color: var(--navbar-color, #eeeeee);
    height: calc(100vh - var(--navbar-height,50px));
}

#imgLogo {
    width: auto;
    max-height: var(--navbar-height, 50px);
    margin: 5px;
}

#frmLogin {
    height: var(--navbar-height, 50px);
    margin: 5px;
    padding-left: 5px;
    justify-content: space-evenly;
}

#imgGravatar {    
    /* box-sizing: content-box; */
    margin: 6px;
    border-radius: 50%;
    max-height: var(--navbar-height, 50px);
    width: auto;
}

h1 {
    font-family: 'Nexa-Light';
    font-weight: lighter;
    font-size: 2.5em;
}

input {
    margin: 5px;
    padding: 5px;
    height: var(--form-field-height);
    box-sizing: border-box;
    /* box-sizing: content-box; */
    font-size: var(--form-font-size, 1.1em);
}

textarea {
    margin: 5px;
    padding: 5px;
    font-size: var(--form-font-size, 1.1em);   
    box-sizing: border-box; 
}

button {
    color: var(--navbar-color, #eeeeee);
    background: red;
    border: 0;
    margin: 5px;
    padding: 5px;  
    font-family: 'Nexa-Light';  
    font-weight: bold;
    font-size: var(--form-font-size, 1.1em);
    height: var(--form-field-height);
    /* box-sizing: content-box; */
}

#flash-errors {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.flash-error-msg {
    background: pink;
    color: black;
    width: 40vw;
    margin: 5px;
}
