#home {
    justify-content: space-around;
}

#frmRegister input, button {
    margin: 5px;
    padding: 5px;
    padding: 5px;
    width: 100%;
    font-size: var(--form-font-size, 1.1em);
    margin: 0 15px 15px 15px;
}

.errLiveDiv {
    width: 100%;
    font-size: var(--form-font-size, 1.1em);   
    background: pink;
    color: black;    
}

#frmRegister {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* border-style: solid;
    border-width: 1px;
    border-color: lightgoldenrodyellow; */
    padding: 10px;
}

#main-content {
    width: 40vw;
}

#main-form {
    width: 40vw;
}