#post-div {
    display: grid;
    grid-template-areas:
        "profile title"
        "cntnt cntnt";
    width: 80vw;
}

#post-author {
    grid-area: profile;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#post-title {
    grid-area: title;
    font-size: 3.2em;
}

#post-content {
    grid-area: cntnt;
    text-align: justify;
}